pipeline/Copy Only Missing Files.json
{
	"name": "Copy Only Missing Files",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata SRC",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_folder",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.p_source_container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.p_source_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata SRC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Metadata TRGT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata SRC').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(contains(activity('Get Metadata TRGT').output.childItems, item()))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_csv_file",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@pipeline().parameters.p_source_container",
														"type": "Expression"
													},
													"folder": {
														"value": "@pipeline().parameters.p_source_folder",
														"type": "Expression"
													},
													"file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_csv_file",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@pipeline().parameters.p_sink_container",
														"type": "Expression"
													},
													"folder": {
														"value": "@pipeline().parameters.p_sink_folder",
														"type": "Expression"
													},
													"file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata TRGT",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_folder",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.p_sink_container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.p_sink_folder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"p_source_container": {
				"type": "string",
				"defaultValue": "source"
			},
			"p_source_folder": {
				"type": "string",
				"defaultValue": "files"
			},
			"p_source_file": {
				"type": "string"
			},
			"p_sink_container": {
				"type": "string",
				"defaultValue": "target"
			},
			"p_sink_folder": {
				"type": "string",
				"defaultValue": "files"
			},
			"p_sink_file": {
				"type": "string"
			},
			"p_mappingfile_container": {
				"type": "string",
				"defaultValue": "source"
			},
			"p_mappingfile_folder": {
				"type": "string",
				"defaultValue": "others/dynamicmapping"
			},
			"p_mappingfile_file": {
				"type": "string",
				"defaultValue": "dynamicmapping.json"
			}
		},
		"variables": {
			"mapping": {
				"type": "String"
			}
		},
		"annotations": []
	}
}